.App {
}

.LogoNavigation {
  display: flex;
}

.LogoNavigation-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60vw;
  padding: 5% 1% 0% 1%;
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
}

.sidebar-nav {
  background-color: var(--White);
  position: absolute;
  right: 0;
  height: 100vh;
  width: 50vw;
  padding: 1em 1.2em 0em 1.2em;
  display: none;
  flex-direction: column;
  gap: 1.2em;
  transform: translateX(100%);
  transition: all 0.7s ease-in-out;
}

.openMenuBar {
  cursor: pointer;
}

.closeMenuBar {
  cursor: pointer;
  position: relative;
  left: 80%;
}

.sitemaps {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}

.sitemap > p > a {
  text-decoration: none;
}

.sitemap__heading {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5em;
  cursor: pointer;
}

.arrow {
  transition: all 0.2s ease-in-out;
}

.sitemap__subheading {
  display: flex;
  gap: 10px;
}

.sitemap__subheadings {
  list-style: none;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  transition: all 0.5s ease-in-out;
}

.sitemap__subheading-text {
  text-decoration: none;
}

.ctas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}

.cta {
  background: transparent;
  border: none;
}

.ctas__login {
}

.ctas__register {
  padding: 0.7em 3.5em;
  border: 2px solid var(--Medium-Gray);
  border-radius: 8px;
  text-align: center;
}
